@page "/passingdegrees"
@using ClassLibraryDAL
@using ClassLibraryEntities
<h3>ProgramCategory</h3>

<a href="/passingdegree/0" class="btn btn-dark">Create Program Category</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        
    </tr>

    @foreach (var emp in @PassingDegreeList)
    {
        <tr>
            <td>
                @emp.PassingDegreesId
            </td>
            <td>@emp.Title</td>
            <td>

             
                <button @onclick="(e => OnDelete(emp.PassingDegreesId))" class="btn btn-danger ">Del</button>
                <a href="passingdegree/@emp.PassingDegreesId" class="btn btn-warning bt-sm">Edit</a>
                <a href="passingdsgroups/@emp.PassingDegreesId" class="btn btn-warning bt-sm">Add passing Degrees Group</a>
            </td>
        </tr>
    }



</table>

@code {

    private List<EntPassingDegree>?PassingDegreeList;
  
    protected override void OnInitialized()
    {
        LaodEmployee();

    }

    private void OnDelete(string id)
    {
        DALPassingDegree.DeletePassingDegrees(id);
        LaodEmployee();

    }

    private void LaodEmployee()
    {
        this.PassingDegreeList = DALPassingDegree.GetPassingDegrees();
    }
}

