@page "/eligibility"
<h3>EligibilityCritieria</h3>

<div>   
                 <select >
                    <option value="0">--Select City---</option>
                    <option value="42">Matric</option>
                    <option value="51">Intermediate</option>
                </select>
                <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Chemistry,Physics,Maths
  </label>
</div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Computer,Physics,Maths
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
     Chemistry,Physics,Biology
  </label>
</div>
<div>
    <h4>Criteria</h4>
    <div class="row">
        <div>
  <label class="form-check-label" for="flexCheckDefault">Matric
      </label>
                <select >
                    <option value="0">--Select Criteria---</option>
                    <option value="42">50</option>
                    <option value="51">60</option>
                </select>
    </div>
    <div>
    <label class="form-check-label" for="flexCheckDefault">FSC
      </label>
                <select >
                    <option value="0">--Select Criteria---</option>
                    <option value="42">50</option>
                    <option value="51">60</option>
                </select>
    </div>
</div>
</div>


@code {

}
