@page "/passinggroups/{pdid}"
<h3>Passing Degree Group </h3>
@using ClassLibraryDAL
@using ClassLibraryEntities


<table>

    <div class="form-check">

        @foreach (var emp in @PassingDSGroupsList)
        {
        <tr>
            <td>
                <input class="form-check-input" type="checkbox"  id="flexCheckChecked" @bind-value="emp.PassingDSGroupsId" >
                
                <label class="form-check-label" for="flexCheckChecked">@emp.PassingDSGroups</label>
            </td>
        </tr>
        }
    </div>
</table>

<button type="submit" @onclick="UpdatePDG">Update PassingDGroups</button>

<input type="checkbox" @bind-value="YourConditionTypeOfBool" checked="@(YourConditionTypeOfBool?"checked":null)"/>&nbsp; Is True
<span>My condition is @(YourConditionTypeOfBool?"True":"False")</span>
@code {
    [Parameter] public string? pdid { get; set; }
    bool YourConditionTypeOfBool = true;

    private List<EntPassingDSGroups> PassingDSGroupsList;
    private ClassLibraryEntities.EntProgramDegreeDetails ModelProgramDegreeDetails { get; set; } = new ClassLibraryEntities.EntProgramDegreeDetails();
    public bool Group1 { get; set; }
    public bool Group2 { get; set; }
    public bool Group3 { get; set; }
    public string? TotalGroups { get; set; }
    private void UpdatePDG()
    {

        TotalGroups = Group1 + "" + Group2 + "" + Group3;
        ModelProgramDegreeDetails.PassingDegreeGroups = TotalGroups;
        ModelProgramDegreeDetails.ProgramDegreeDetailsId = pdid;
        ModelProgramDegreeDetails.type = "Groups";
        ClassLibraryDAL.DALProgramDegreeDetails.UpdateProgramCategory(ModelProgramDegreeDetails);
    }
    protected override void OnInitialized()
    {
        PassingDSGroupsList = DALPassingDSGroups.GetPassingDSGroups();
    }




}
