@page "/passinggroups/{pdid}"
@using ClassLibraryDAL
@using ClassLibraryEntities

@if (check )
{
    <MessageComponent CustomMessage="@message"></MessageComponent>
}

<h3>Passing Groups </h3>
<a class="btn btn-primary" href="/programdegreedetails" role="button">Go Back</a>
<table>

    <div class="form-check">
        
        @foreach (var emp in @PassingDSGroupsList)
        {
        <tr>
            <td>
                <input class="form-check-input" type="checkbox"  id="flexCheckChecked" @onchange="(e => {ClassLibraryDAL.CustomLogic.CheckboxClicked(emp.PassingDSGroupsId,e.Value);})">@emp.PassingDSGroups
            </td>
            <td></td>
        </tr>
        }
    </div>
</table>
<button type="submit" class="btn btn-primary mt-2" @onclick="UpdatePDG">Update PassingDGroups</button>
<div class="container pt-4 table-responsive">
<table class="table  table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>Passing DSGroups ID</th>
        <th>PassingDSGroups</th>
        
        
    </tr>
     </thead>
    <tbody>
    @foreach (var emp in @PassingDSGroupsList)
    {
        
            <tr>
                <td>@emp.PassingDSGroupsId</td>
                <td>@emp.PassingDSGroups</td>
            </tr>
        
    }

    </tbody>
</table>
</div>




@code {
    [Parameter] public string? pdid { get; set; }

    private bool check { get; set; } = false;
    private string? message { get; set; }
    public string? MyList{ get; set; }


    private List<EntPassingDSGroups>? PassingDSGroupsList;
    private ClassLibraryEntities.EntProgramDegreeDetails ModelProgramDegreeDetails { get; set; } = new ClassLibraryEntities.EntProgramDegreeDetails();
    public bool Group1 { get; set; }
    public bool Group2 { get; set; }
    public bool Group3 { get; set; }
    public string? TotalGroups { get; set; }

    private void UpdatePDG()
    {
        CheckList();
        // TotalGroups = Group1 + "" + Group2 + "" + Group3;
        ModelProgramDegreeDetails.PassingDegreeGroups = MyList;
        ModelProgramDegreeDetails.ProgramDegreeDetailsId = pdid;
        ModelProgramDegreeDetails.type = "Groups";

        ClassLibraryDAL.DALProgramDegreeDetails.UpdateProgramCategory(ModelProgramDegreeDetails);
        ClassLibraryDAL.CustomLogic.DisposeList();
        check = true;
        message = "Succesfully Updated Passsing Groups";
        

    }

    protected override void OnInitialized()
    {
        PassingDSGroupsList = DALPassingDSGroups.GetPassingDSGroups();
    }

    private void CheckList()
    {
        MyList = ClassLibraryDAL.CustomLogic.checklist();
    }


}
