@page "/passinggroups/{pdid}"
<h3>Shifts @pdid</h3>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1"  id="flexCheckChecked" @bind="Group1">
        <label class="form-check-label" for="flexCheckChecked">
            Chem,phy,maths
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="2"  id="flexCheckChecked" @bind="Group2">
        <label class="form-check-label" for="flexCheckDefault">
            Comp,phy,maths
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="3"   id="flexCheckChecked" @bind="Group3">
        <label class="form-check-label" for="flexCheckDefault">
            Chem,phy,Bio
        </label>
    </div>
    <button type="submit" @onclick="UpdateShift">Update Shift</button>


@code {
    [Parameter] public string? pdid { get; set; }
    private ClassLibraryEntities.EntProgramDegreeDetails ModelProgramDegreeDetails { get; set; } = new ClassLibraryEntities.EntProgramDegreeDetails();
    public bool Group1 { get; set; }
    public bool Group2 { get; set; }
    public bool Group3 { get; set; }
    public string? TotalGroups { get; set; }
    private void UpdateShift()
    {
        
       
        TotalGroups = Group1 + "" + Group2 + "" + Group3;
         ModelProgramDegreeDetails.PassingDegreeGroups = TotalGroups;
        ModelProgramDegreeDetails.ProgramDegreeDetailsId = pdid;
        ModelProgramDegreeDetails.type = "Groups";
        ClassLibraryDAL.DALProgramDegreeDetails.UpdateProgramCategory(ModelProgramDegreeDetails);
    }


}
