@page "/programdegreedetail/{DegreeID}"
@using ClassLibraryDAL
@using ClassLibraryEntities
@inject NavigationManager nm

<EditForm Model="_ModelProgramDegreeDetail" OnSubmit="SubmintForm">
    <table>
   
        <tr>
            <td>
               Program Category
            </td>
            <td>

                <select class="form-select" aria-label="Default select example" @onchange="_AreaOption">
                    <option selected>Select Category</option>

                    @foreach (var emp in @ProgramCategoriesList)
                    {
                        <option value="@emp.ProgramCategoryId" >@emp.CategoryName</option>
                    }
                </select>
               
            </td>
        </tr>
        <tr>
            <td>
                Program Degree
            </td>
            <td>



                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Category</option>

                    @foreach (var emp in @ProgramDegreeList)
                    {
                        if (alpha == emp.ProgramCategoryid)
                        {
                            <option>@emp.DegreeName</option>
                        }
                    }
                </select>

            </td>
        </tr>
        <tr>
            <td>
                Duration
            </td>
            <td>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Duration</option>
                    <option value="1">1 Year</option>
                    <option value="2">2 Year</option>
                    <option value="3">3 Year</option>
                    <option value="3">4 Year</option>
                    <option value="3">5 Year</option>

                </select>
            </td>
        </tr>
        <tr>
            <td>
                TotalSemesters
            </td>
            <td>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Total Semesters</option>
                    <option value="1">1 </option>
                    <option value="2">2 </option>
                    <option value="3">3 </option>
                    <option value="3">4 </option>
                    <option value="3">5 </option>
                    <option value="3">6 </option>
                    <option value="3">7 </option>
                    <option value="3">8 </option>
                    <option value="3">9 </option>
                    <option value="3">10 </option>
                    <option value="3">11 </option>
                    <option value="3">12 </option>
                    <option value="3">13 </option>
                    <option value="3">14 </option>
                    <option value="3">15 </option>


                </select>
            </td>
        </tr>
        <tr>
        <td>
                Matric
            </td>
            <td>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Criteria</option>
                    <option value="1">50 %</option>
                    <option value="2">60 %</option>
                    
                </select>
            </td>
            </tr>
        <tr>
        <td>
                FSC
            </td>
            <td>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Criteria</option>
                    <option value="1">50 %</option>
                    <option value="2">60 %</option>
                    
                </select>
            </td>
            </tr>
             <tr>
        <td>
                BS
            </td>
            <td>

                <select class="form-select" aria-label="Default select example">
                    <option selected>Select CGPA</option>
                    <option value="1">2.5 -> 3</option>
                    <option value="2">3 -> 3.5</option>
                    
                </select>
            </td>
            </tr>

        <tr>
            <td>
                TotalFee
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.TotalFee" required></InputText>
            </td>
        </tr>
        <tr>
            <td>
                SemesterFee
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.SemesterFee"></InputText>
            </td>
        </tr>
          <tr>
            <td>
                ClosingMerit
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.ClosingMerit"></InputText>
            </td>
        </tr>

        <tr>
            <td>
                ApprovedBYID
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        HEC
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        PEC
                    </label>
                </div>
            </td>
        </tr>


        <tr>
            <td>Shifts</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        Morning
                    </label>

                </div>
                </td>
                    <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Evening
                    </label>
                </div>
                </td>
                    <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Weekened
                    </label>
                </div>
            </td>
        </tr>
       @* <tr>
            <td>
                PassingDegreeGroups
            </td>
            <td>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        All Groups
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        PreEngineering
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        PreMedical
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        ICS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Icom
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        General Science
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        FA
                    </label>
                </div>
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Arts
                    </label>
                </div>
            </td>
        </tr>*@
 
      
        

        

        <tr>
            <td>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">@title</button>
            </td>
        </tr>


    </table>


</EditForm>

@code {

    private EntProgramDegreeDetails? _ModelProgramDegreeDetail { get; set; }
    private List<EntProgramCategory>? ProgramCategoriesList;
    private List<EntProgramDegree>? ProgramDegreeList;
    public string? ID { get; set; } = "1";
    private string? title { get; set; }
    private string? alpha { get; set; }
    private string? categoryid { get; set; }
    [Parameter] public string? DegreeID { get; set; }
    protected override void OnInitialized()
    {
        LaodEmployee();
        if (DegreeID == "0")
        {
            _ModelProgramDegreeDetail = new EntProgramDegreeDetails();
            title = "Create New Category";
        }
        else
        {
            _ModelProgramDegreeDetail = DALProgramDegreeDetails.GetProgramDegreeDetailsByID(DegreeID);
            title = "Update Category";
        }
    }

    private void SubmintForm()
    {
        if (DegreeID == "0")
        {
            DALProgramDegreeDetails.SaveProgramDegreeDetails(_ModelProgramDegreeDetail);
            nm.NavigateTo("/programdegreedetails");
        }
        else
        {
            DALProgramDegreeDetails.UpdateProgramCategory(_ModelProgramDegreeDetail);
            nm.NavigateTo("/programdegreedetails");
        }

    }

    private void LaodEmployee()
    {
        this.ProgramCategoriesList = DALProgramCategory.GetProgramCategory();
        this.ProgramDegreeList = DALProgramDegree.GetProgramDegree();
    }
    private void _AreaOption(ChangeEventArgs e)
    {
        alpha = e.Value as string;

    }


}
