@page "/programdegreedetail/{DegreeID}"
@using ClassLibraryDAL
@using ClassLibraryEntities
@inject NavigationManager nm


<EditForm Model="_ModelProgramDegreeDetail" OnSubmit="SubmintForm">
    <table>
        <tr>
           <td>
 
<select class="form-select" aria-label="Default select example">
  <option selected>Select Programs</option>
  <option value="1">Undergrade(14 year)</option>
  <option value="2">Postgrade(16 year)</option>
  <option value="3">Masters(16 year)</option>
</select>
</td>
</tr>
<tr>
<td>
              
                <select class="form-select" aria-label="Default select example">
  <option selected>Select Degree</option>
  <option value="1">ComputerScience</option>
  <option value="2">Engineering</option>
  <option value="3">Social Sciences</option>
</select>
            </td>
        </tr>
        <tr>
            <td>
                Duration
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.Duration" required></InputText>
            </td>
        </tr>
        <tr>
            <td>
                TotalSemesters
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.TotalSemesters" required></InputText>
            </td>
        </tr>
        <tr>
            <td>
                TotalFee
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.TotalFee" required></InputText>
            </td>
        </tr>
        <tr>
            <td>
                SemesterFee
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.SemesterFee"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                ApprovedBYID
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.ApprovedById"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                CityID
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.CityId"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Morning
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.Morning"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Evening
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.Evening"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Weekened
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.Weekened"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                PassingDegreeGroups
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.PassingDegreeGroups"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                ProgramDegreeID
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.ProgramDegreeId"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                InstituteID
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.InstituteId"></InputText>
            </td>
        </tr>
        <tr>
            <td>
                Percentage
            </td>
            <td>
                <InputText name="Name" @bind-Value="_ModelProgramDegreeDetail.Percentage"></InputText>
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">@title</button>
            </td>
        </tr>


    </table>


</EditForm>

@code {

    private EntProgramDegreeDetails? _ModelProgramDegreeDetail { get; set; }
    private string? title { get; set; }
    [Parameter] public string DegreeID { get; set; }
    protected override void OnInitialized()
    {
        if (DegreeID == "0")
        {
            _ModelProgramDegreeDetail = new EntProgramDegreeDetails();
            title = "Create New Category";
        }
        else
        {
            _ModelProgramDegreeDetail = DALProgramDegreeDetails.GetProgramDegreeDetailsByID(DegreeID);
            title = "Update Category";
        }
    }

    private void SubmintForm()
    {
        if (DegreeID == "0")
        {
            DALProgramDegreeDetails.SaveProgramDegreeDetails(_ModelProgramDegreeDetail);
            nm.NavigateTo("/programdegreedetails");
        }
        else
        {
            DALProgramDegreeDetails.UpdateProgramCategory(_ModelProgramDegreeDetail);
            nm.NavigateTo("/programdegreedetails");
        }

    }



}
