@using User.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nm


<PageTitle>FrontPage</PageTitle>
<style>
    .img-height {
        height: 1rem;
        margin-bottom: 0rem;
    }

    .nav-color {
        background-color: #1D1D1B;
        color: white
    }

    .btn-green {
        background-color: #40DE21;
    }

  
</style>

<main>
    <nav class="navbar navbar-expand-sm sticky-top nav-color" style="height:3.5rem;">
        <div class="container-fluid position-relative" style="background-color:#1D1D1B;">
            <a href="/" class="navbar-brand ml-lg-3">
                <img src="https://i.ibb.co/BPsZd5f/pkversitylogo.png" class="img-height" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color:white;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <AuthorizeView Roles="User">
                        <Authorized>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="personalinformation">Personal Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="form">Academic Info</a>
                            </li>
                        </Authorized>

                    </AuthorizeView>
                </ul>
                <AuthorizeView>
                    <Authorized>
                        <a @onclick="logout" href="javascript:void(0)" class="btn btn-green">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <form class="form-inline my-2 my-lg-0">

                            <a href="login" class="btn btn-green">Login</a>
                            <a href="register" class="btn btn-green">Register</a>
                        </form>

                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
    <div style="height:100vh;">
        @Body
    </div>
    <footer class="fixed-bottom text-lg-start pb-2 " style="background-color:#1D1D1B; color:white;">

        @* <div class="container p-1">
        </div>*@

        <div class="text-center  ">
            ©2020 Pkversity
        </div>
        <p class="text-center ">
            Powered by: ASEYEM (Institute of Research and Guiudance), Islamabad Pakistan
        </p>
    </footer>
</main>

@code {

    private async Task logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        nm.NavigateTo("/", true);
    }
}

