<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house fs-3 mx-2"></i>  Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programcategories" Match="NavLinkMatch.All">
                <i class="fa-solid fa-graduation-cap fs-3 mx-2"></i> Program Category
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cities" Match="NavLinkMatch.All">
                <i class="fa-solid fa-city fs-3 mx-2"></i>  cities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="institutes" Match="NavLinkMatch.All">
                <i class="fa-solid fa-building fs-3 mx-3"></i> institutes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typeofs" Match="NavLinkMatch.All">
                <i class="fa-solid fa-wand-magic-sparkles fs-3 mx-2"></i> typeofs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="passingdegrees" Match="NavLinkMatch.All">
                <i class="fa-solid fa-graduation-cap fs-3 mx-2"></i> Passing Degree
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="futurescopeeditor" Match="NavLinkMatch.All">
                <i class="fa-brands fa-searchengin fs-3 mx-2"></i> Future Scope Editor
            </NavLink>
        </div>

              <div class="nav-item px-3">
            <NavLink class="nav-link" href="exception" Match="NavLinkMatch.All">
                <i class="fa-solid fa-xmark fs-2 mx-2"></i> Exceptions
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
