@page "/aboutus"



<style>
    body {
        padding: 0px !important;
        background-color: #F9F7F7;
        color: black !important;
    }

    .bg-gra {
        background-color: #FFFFFF;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    }

    .text_allign {
        text-align: center
    }

    .bg-image {
        background-image: url(Images/awab.jpeg);
        background-position: center;
        background-size: cover;
        height: 400px
    }

    .bg-cardimage {
        background-image: url(Images/asim.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-cardimageAwab {
        background-image: url(Images/awab.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-cardimageRameen {
        background-image: url(images/rehan.PNG);
        background-repeat: no-repeat;
        background-size: cover;
    }


    .card-grad {
        background: linear-gradient(349deg, rgba(250,250,250,0.5116324117537641) 59%, rgba(58,111,180,0.7329209271599264) 71%, rgba(124,9,171,1) 79%, rgba(0,0,85,1) 98%);
    }

    .margin {
        text-align: center;
        margin-top: 170px
    }



    .inner {
        display: inline-block;
        padding: 10px 10px;
        border: none;
        float: left;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        width: 100%
    }
</style>










<div class="container mt-5">


    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card mb-3 card-grad">
                <div class="card-body ">
                    <div class="bg-cardimage" style="width:120px; height:120px; border-radius:100px; margin:0 auto; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    </div>
                    <h4 class="fw-bold text_allign mt-lg-4">Asim Ali Fayyaz</h4>
                    <h5 class="text_allign">Founder</h5>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active text" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <h5>About</h5>
                            <p>some thing about asim goes here</p>

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <h5 class="fw-bold">Experience</h5>
                            <p>some thing about asim goes here</p>

                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                            <h5 class="fw-bold">Contact</h5>
                            <p>03040040400</p>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <a href="#" class="me-2"><i class="bi bi-facebook h5"></i></a>
                            <a href="#" class="me-2"><i class=" bi bi-twitter h5"></i></a>
                            <a><i class="bi bi-linkedin h5"></i></a>

                        </div>


                    </div>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ABOUT</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">EXPERIENCE</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">CONTACT</button>

                        </div>
                    </nav>

                </div>


            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3 card-grad">


                <div class="card-body ">
                    <div class="bg-cardimageRameen" style="width:120px; height:120px; border-radius:100px; margin:0 auto; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    </div>
                    <h4 class="fw-bold text_allign mt-lg-4">Rehan Akhtar</h4>
                    <h5 class="text_allign">Co-Founder</h5>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active text" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <h5>About</h5>
                            <p>some thing about Rehan goes here</p>

                        </div>
                        <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <h5 class="fw-bold">Experience</h5>
                            <p>some thing about Rehan goes here</p>

                        </div>
                        <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                            <h5 class="fw-bold">Contact</h5>
                            <p>090078601</p>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <a href="#" class="me-2"><i class="bi bi-facebook h5"></i></a>
                            <a href="#" class="me-2"><i class=" bi bi-twitter h5"></i></a>
                            <a><i class="bi bi-linkedin h5"></i></a>

                        </div>


                    </div>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <button class="nav-link active" id="nav-home-tab1" data-bs-toggle="tab" data-bs-target="#nav-home1" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ABOUT</button>
                            <button class="nav-link" id="nav-profile-tab1" data-bs-toggle="tab" data-bs-target="#nav-profile1" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">EXPERIENCE</button>
                            <button class="nav-link" id="nav-contact-tab1" data-bs-toggle="tab" data-bs-target="#nav-contact1" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">CONTACT</button>

                        </div>
                    </nav>

                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 card-grad">


                <div class="card-body ">
                    <div class="bg-cardimageAwab" style="width:120px; height:120px; border-radius:100px; margin:0 auto; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    </div>
                    <h4 class="fw-bold text_allign mt-lg-4">M. Awab</h4>
                    <h5 class="text_allign">Co-Founder</h5>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active text" id="nav-home2" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <h5>About</h5>
                            <p>some thing about Awab goes here</p>

                        </div>
                        <div class="tab-pane fade" id="nav-profile2" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <h5 class="fw-bold">Experience</h5>
                            <p>some thing about Awab goes here</p>

                        </div>
                        <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                            <h5 class="fw-bold">Contact</h5>
                            <p>090078601</p>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <a href="#" class="me-2"><i class="bi bi-facebook h5"></i></a>
                            <a href="#" class="me-2"><i class=" bi bi-twitter h5"></i></a>
                            <a><i class="bi bi-linkedin h5"></i></a>

                        </div>


                    </div>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <button class="nav-link active" id="nav-home-tab2" data-bs-toggle="tab" data-bs-target="#nav-home2" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ABOUT</button>
                            <button class="nav-link" id="nav-profile-tab2" data-bs-toggle="tab" data-bs-target="#nav-profile2" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">EXPERIENCE</button>
                            <button class="nav-link" id="nav-contact-tab2" data-bs-toggle="tab" data-bs-target="#nav-contact2" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">CONTACT</button>

                        </div>
                    </nav>

                </div>


            </div>
        </div>

    </div>
    <div class="container mb-4">


        <div class="row">

            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-body">
                        <h3 class="card-title text_allign fw-bold mb-4">Logo</h3>
                        <p class="card-text">
                            The name "pkversity" aims to simplify the process of researching and applying to universities in Pakistan by providing a centralized and user-friendly resource for prospective students. It can be a valuable tool for those seeking higher education opportunities in the country.
                        </p>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-body">
                        <h3 class="card-title text_allign fw-bold ">Why pkversity?</h3>
                        <p class="card-text">
                            With so many universities to choose from, it can be challenging to find the right fit. Our website takes the guesswork out of the equation, helping you narrow down your options and find your ideal match.
                        </p>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-body">
                        <h3 class="card-title text_allign fw-bold">Need of pkversity</h3>
                        <p class="card-text ">
                        The need for a platform like "pkversity" arises from several key factors and challenges faced by students and educational institutions in Pakistan.    
                        </p>

                    </div>
                </div>

            </div>
        </div>



    </div>
</div>









@code {

}